

{% extends "app/adm/layout_admin.html" %}
<html>
<head>
    <title>Devolução</title>
</head>
<body>

{% block content %}

    <h1>Formulário de Devolução</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="id_tombo">ID Tombo:</label>
        <input type="text" name="id_tombo">
        <input type="submit" value="Devolver">
    </form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}

</body>
</html>



