
{% extends "app/adm/layout_admin.html" %}
<!DOCTYPE html>
<html>
<head>
    <!-- Inclua aqui seus estilos -->
</head>
<body>

{% block content %}


<div class="container">
  <h1 class="mt-4">Listagem de Empréstimos do Usuário: {{ usuario.nome }}</h1>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Data de Empréstimo</th>
          <th>Data de Devolução</th>
          <th>Nome do Usuário</th>
          <th>Tipo de Empréstimo</th>
          <th>ID do Tombo</th>
          <th>Exemplar</th>
          <th>Status do Empréstimo</th>
        </tr>
      </thead>
      <tbody>
        {% for emprestimo in emprestimos %}
          <tr>
            <td>{{ emprestimo.data_emprestimo }}</td>
            <td>{{ emprestimo.data_devolucao }}</td>
            <td>{{ emprestimo.id_usuario.nome }}</td>
            <td>{{ emprestimo.id_tipos_de_emprestimos.tipo }}</td>
            <td>{{ emprestimo.id_tombo.id }}</td>
            <td>{{ emprestimo.id_tombo.exemplar }}</td>
            <td>{{ emprestimo.status_emprestimo.tipo }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>



{% endblock %}

</body>
</html>