{% extends "app/users/layout_users.html" %}

{% block content %}


<div class="jumbotron">
    <h1>Biblioteca Facil TESTE</h1>
    <p class="lead">Este e o site da sua Biblioteca, faca pesquisas e encontre os servicos oferecidos.</p>
    <p><a href="/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Solicitar um servico</h2>
        <p>
            Solicite um servico ao Bibliotecario.
        </p>
        <p><a class="btn btn-default" href="/search/">Learn more;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pesquise seus livros</h2>
        <p>Faca busca na base de dados.</p>
        <p><a class="btn btn-default" href="/search_books/">Learn more;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registro ABNT</h2>
        <p>Gere a referencia do seu livro no formato ABNT.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}